doctype html

html
  head
    title NY Curl Analytics
    link(rel="icon" type="image/x-icon" href="/public/favicon.ico")
    link(rel="stylesheet" href="/public/css/analytics.css")

    meta(name="description"
         content="News from the New York Times optimized for display in Terminal")

  body
    h3(class="header") Analytics
    div

  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="/public/bower/jquery/dist/jquery.min.js")
  script(src="/public/js/analytics.js")
