doctype html

html
  head
    title NY Curl Analytics
    link(rel="icon" type="image/x-icon" href="/public/favicon.ico")

    meta(name="description"
         content="News from the New York Times optimized for display in Terminal")

  body
    h3(class="header") Analytics
      br
      a(href="/") Home
    div(class="container")
      div
        h4 Traffic Over Time
        div(class="ct-chart traffic")
      div
        h4 Section Query Frequencies
        div(class="ct-chart section-freq")
      div
        h4 Average Response Time
        div(class="ct-chart response-time")

  script(src="/dist/analytics.bundle.js")
